@{
    ViewBag.Title = "Home";
}

<center>
    <h1 style="font-family: cursive;color: black;font-weight: bold;font-size: 3em;
    margin-top: 200px;margin-bottom: 0px;text-align: center;font-weight: bolder;
    text-shadow: -1px 0 bisque, 0 1px bisque, 1px 0 bisque, 0 -1px bisque;">Beauty Store</h1>
    <p class="para" title="paragraph" data-src="testing"
       style="font-family: cursive;color: black;text-align: center;font-size: 1.15em;
        font-weight: bold;text-shadow: -1px 0 bisque, 0 1px bisque, 1px 0 bisque, 0 -1px bisque;">
        Highlight Your Outer Beauty
    </p>
    <p class="para2" title="paragraph" data-src="testing"
       style="font-family: cursive;color: black;text-align: center;font-size: 1.15em;
        font-weight: bold;text-shadow: -1px 0 bisque, 0 1px bisque, 1px 0 bisque, 0 -1px bisque;">
        Making Shopping Easy For You
    </p>
</center>