@model Beauty_Store.Models.product

@{
    ViewBag.Title = "warningView";
}

<h3>You Can't Edit or Delete This Product, as It's Not Delivered to Customer(s) Yet</h3>

<br />
    <div>
        <input type="button" value="Back to DashBoard" style="background-color: bisque; width:300px;
                  border-radius:7px;font-weight:bold; font-family: cursive;box-sizing: border-box;"
               onclick="window.location= '@Url.Action( "AdminDashBoard", "admin")'" />
    </div>

<br /><br /><div>
    @Html.ActionLink("Log out", "login", "admin")
</div>