@model Beauty_Store.Models.sale

@{
                /**/

                ViewBag.Title = "Thank you";
}

<fieldset>
    <h1>Thank You :)</h1>
    <h3>We hope You Enjoyed Shopping From The Online Beauty Store</h3>
    <br /><br />
    <h5>Your Code Is: <b>@Session["salecode"]</b>, Please Keep It Till Delivery Process</h5>
    <h5>The Product'll be delivered to you in 7-15 days starting from Order Date.</h5><br />
    <div>
        <input type="button" value="Back to Home Page" style="background-color: bisque; width:300px;
                  border-radius:7px;font-weight:bold; font-family: cursive;box-sizing: border-box;"
               onclick="window.location= '@Url.Action( "UserDashBoard", "user")'" />
    </div>
</fieldset>
<br /><br /><div>
    @Html.ActionLink("Log out", "login", "user")
</div>