@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3 style="font-family: cursive">All What Women Need</h3>

<p style="font-family: cursive">The Online Beauty Store For Shopping Online in an Easy, Comfortable & Quick Way.</p>
